//COLORS

//pallete
$primary_color: #FFD500	;
// $primary_color: #1e41f1;
$primary_color_shade_01: #9cd998;

$neutral_color01: #ffffff;

$accent_color_01: #1e41f1;
// $accent_color_01: #dabe34	;
$accent_color_02: #e61029;

$disabled_color:#9E9E9E;
