@mixin padding{
    padding: 1rem;
}

@mixin border-bottom-on-hover($color:red, $size: 1px, $type: solid){
  transition: border-bottom 0.5s;
  border-bottom: transparent $size $type;
  &:hover{
    border-bottom: $color $size $type;
  }
}
@mixin border-radius($size:1){
  border-radius: 10px*$size;
}

@mixin box-shadow{
  box-shadow: 1px 1px 10px lighten(grey, 20),
}

@mixin body_grid_01($row_thickness:50px){
  //The grid module
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: $row_thickness;
  grid-gap: 5%;
}

$line_height: 40px;
